<div class="reg">
  <form (ngSubmit)="login()">
    <h2>Login </h2>
  
    <label for="username">Username</label>
    <input type="text" placeholder="username" name="username" id="username" [(ngModel)]="username" required>
  
    <label for="password">Password</label>
    <input type="password" placeholder="Password" name="password" id="password" [(ngModel)]="password" required>
  
    <button type="submit">Log In</button>
   
    <br/>
    <p>if you dont have an account do <a routerLink="/register">Register</a>.</p>
  </form>
</div>
